.navbar {
  background-color: #322e30;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text-green {
  color: white;
}

.text-red {
  color: lightblue;
}

.greetings {
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}

.greetings span {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

#greetings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

hr.my-3 {
  height: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.quotes {
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}

.auto-type {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.clock {
  position: absolute;
  right: 0;
  padding-right: 20px;
  bottom: 5px;
  font-weight: bold;
}

.table {
  width: calc(100%);
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.btn-edit,
.btn-delete {
  padding: 4px 8px;
  margin-right: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit {
  background-color: #4CAF50;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white
}

.container h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Dark mode styles */
.dark-mode {
  background-color: #000000; /* Black background color for the entire page */
  color: #ffffff; /* Light text color for the entire page */
}

.dark-mode .navbar {
  background-color: #1a1a1a; /* Dark background color for the navbar */
}

.dark-mode .navbar-brand {
  color: #ffffff; /* Light text color for the navbar brand */
}

.dark-mode .greetings span {
  color: #ffffff; /* Light text color for greetings */
}

.dark-mode .quotes h5 {
  color: #ffffff; /* Light text color for quotes */
}

/* Keep the table white */
.table {
  background-color: #ffffff; /* White background color for the table */
  padding: 15px; /* Add padding to the table */
}

.dark-mode .table th {
  background-color: #292929; /* Dark background color for table headers */
  color: #ffffff; /* Light text color for table headers */
}

.dark-mode .table tbody tr:hover {
  background-color: #333333; 
}